@use "variables" as v;
@use "mixins" as m;
@use "nav";

header {
  @extend nav;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: v.$background-color;
  color: v.$text-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  background: v.$white;
  padding: 20px;
  border-radius: 8px;
  @include m.box-shadow;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto; /* Centers only the container horizontally */
}

h1 {
  margin-bottom: 15px;
  color: v.$primary-color;
}

#course-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-item {
  background: v.$primary-color;
  color: v.$white;
  padding: 10px;
  border-radius: 5px;
  @include m.box-shadow;
  text-align: left;
}

.course-item:hover {
  background: v.$secondary-color;
  cursor: pointer;
}
