@use "variables" as v;
@use "mixins" as m;

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: v.$white;
  border-radius: 8px;
  @include m.box-shadow;
  text-align: center;

  h2 {
    color: v.$text-color;
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      text-align: left;
      font-weight: bold;
      color: v.$gray;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      @include m.button-styles;
    }
  }

  .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: v.$gray;

    a {
      color: v.$primary-color;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
