@use "variables" as v;
@use "mixins" as m;
@use "nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: v.$background-color;
  color: v.$text-color;
}

header {
  @extend nav;
}

.slider-container {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  @include m.box-shadow;
  background: v.$white;
  border-radius: 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.controls {
  @include m.flex-center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);

  button {
    @include m.button-styles;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.dots {
  @include m.flex-center;
  margin-top: 15px;

  .dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background: v.$gray;
    cursor: pointer;
    transition: background 0.3s;

    &.active {
      background: v.$primary-color;
    }
  }
}
