@use "../common/variables" as v;

@use "../common/mixins" as m;

body {
  font-family: Arial, sans-serif;
  background-color: v.$background-color;
  color: v.$text-color;
  margin: 0;
  padding: 0;

  @include m.flex-center;
  
  height: 100vh;
}

.container {
  width: 60%;

  @include m.flex-center;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

.course-card {
  background: v.$white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;

  @include m.box-shadow;

  img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h1 {
    color: v.$primary-color;
    font-size: 24px;
  }

  p {
    color: v.$gray;
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background: v.$primary-color;
      color: v.$white;
      padding: 10px;
      margin: 5px 0;
      border-radius: 5px;
    }
  }

  .back-home-btn {
    
    @include m.button-styles;
    
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    padding: 15px;

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    ul {
      padding: 0;

      li {
        padding: 8px;
      }
    }

    .back-home-btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }

    .back-home-btn {
      font-size: 12px;
      padding: 8px 15px;
    }
  }
}
